/* Styles go here */
		body { 
			background-color: white;
			font-family: 'PT Serif', serif;
		}

		#container {
			width: 1000px;
			margin-left: auto;
			margin-right: auto;
			margin-top: 5px;
			padding: 1px 10px 10px 10px;
			background-color: white;
			box-shadow: 1px 1px 1px 1px #fff;
		}

		h1 {
			font-weight: 300;
			color: #76323f;
			font-family: "PT Sans", sans-serif;
			font-size: 56px;
			margin-top: 10px;
			margin-bottom: 0px;
			}

		h2 {
			font-weight: 300;
			color: #76323f;
			font-family: "PT Sans", sans-serif;
			font-size: 32px;
			margin-bottom: 20px;
			margin-top: -10px;
			}

		h3 {
			font-weight: 300;
			color: #76323f;
			font-family: "PT Sans", sans-serif;
			font-size: 32px;
			margin-bottom: 10px;
			margin-top: 10px;
		}

		p {
			font-size: 18px;
			width: 1000px;
			margin-top: 5px;
			margin-bottom: 10px;
			color: #333;
		}

		a {
			color: #76323f;
			text-decoration: none;
		}

		a:hover {
			color: darkslategray;
		}

		.footer {
			font-size: 14px;
			margin-top: 0px;
		}

		#checkboxes > * {
			color: darkslategray;
			font-size: 14px;
		}

		.btn-group {
			display: inline;
		}

		.btn-group2 {
			padding-left: 40px;
			display: inline;
		}

		.button1, .button2 {
			display: inline-block;
			color: #666;
			background-color: #eee;
			text-transform: uppercase;
			font-size: 10px;
			padding: 5px 5px;
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			border: 1px solid rgba(0,0,0,0.3);
			border-bottom-width: 3px;
			margin-right: 0px;
			margin-bottom: 10px;
			margin-top: 10px;
		  }

		.button1:hover, .button2:hover {
			background-color: #e3e3e3;
			border-color: rgba(0,0,0,0.5);
			cursor: pointer;
		}

		.button1:active, .button2:active {
			background-color: #CCC;
			border-color: rgba(0,0,0,0.9);
		}

		.button1:focus, .button2:focus {
			outline: none;
		}

		svg {
			background-color: white;
		}

		.cells path {
			fill: none;
			pointer-events: all;
		}

		div.tooltip {	
		    position: absolute;			
		    text-align: left;
		    font-family: "PT Sans", sans-serif;			
			white-space: normal;					
		    padding: 6px;				
		    font-size: 14px;		
		    background: #eee;	
		    border: 1px solid gray;	
		    border-radius: 2px;			
		    pointer-events: none;
		    cursor: none;

		}

		.axis path,
		.axis line {
		  fill: none;
		  stroke: #aaa;
		  shape-rendering: crispEdges;
		}

		.axis text {
		  font: 10px sans-serif;
		  fill: darkslategray;
		}

